@using System.Text;
@using XcaXds.Commons.Models;
@using XcaXds.Commons.Models.ClinicalDocument
@using XcaXds.Commons.Models.Soap;
@using XcaXds.Commons.Models.Soap.XdsTypes;
@using XcaXds.Commons.Serializers
@using XcaXds.Commons.Services;
@using XcaXds.Frontend.Components.EbRimComponents.ClinicalDocumentArchitecture;

<div class="ebrim-card classification-card">
    <div class="ebrim-header classification-header">
        DocumentResponse
    </div>
    <div class="ebrim-body">
        <li>Home: @documentResponse.HomeCommunityId</li>
        <li>Repository: @documentResponse.RepositoryUniqueId</li>
        <li>Document Id: @documentResponse.DocumentUniqueId</li>
        <li>Mimetype: @documentResponse.MimeType</li>
        <DocumentViewerComponent DocumentResponse="documentResponse" />
    </div>
</div>

@if (documentResponse.MimeType == "application/octet-stream")
{
    @if (documentTextContent.Contains("<ClinicalDocument"))
    {
        <ClinicalDocumentComponent CdaDocument="clinicalDocument" />
    }
    else
    {
        <span>@documentTextContent</span>
    }
}
else if (documentResponse.MimeType == "application/pdf")
{
    <iframe 
    class="mb-3" 
    src="@($"data:{documentResponse.MimeType};headers=filename%3D{documentResponse.DocumentUniqueId};base64,{base64Content}")" 
    name="@documentResponse.DocumentUniqueId" 
    title="@documentResponse.DocumentUniqueId" 
    width="100%" 
    height="600px">
    </iframe>
} 
else if (documentResponse.MimeType == "text/plain")
{
    <p>@System.Text.Encoding.UTF8.GetString(documentResponse.Document!)</p>
}
else if (documentResponse.MimeType != null && documentResponse.MimeType.Contains("image"))
{
    <img base Class="mb-3" src="@($"data:{documentResponse.MimeType};base64,{base64Content}")" />
} 
else 
{
    <span>@documentTextContent</span>
}

@code {
    [Parameter]
    public DocumentResponseType documentResponse { get; set; } = default!;

    private SoapXmlSerializer sxmls = new(XmlSettings.Soap);

    private string base64Content;
    
    private string documentTextContent;

    private ClinicalDocument clinicalDocument;

    protected async override void OnParametersSet()
    {
        Console.WriteLine($"DocumentResponse: {documentResponse}");
        if (documentResponse?.Document == null) return;

        base64Content = Convert.ToBase64String(documentResponse.Document);
        documentTextContent = Encoding.UTF8.GetString(documentResponse.Document);
        if (documentTextContent.Contains("<ClinicalDocument"))
        {
            clinicalDocument = sxmls.DeserializeSoapMessage<ClinicalDocument>(documentTextContent);
        }

    }

}
